.App {
    text-align: center;
    margin: 2rem;
    background-color: white;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App .row {
    margin: 0.1rem;
}

.label-col {
    text-align: right;
}

.info-col {
    text-align: left;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.App .row {
    background-color: #e0e0f0;
    padding: 1rem;
}

svg {
    cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
